---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
import Titulo from '../components/Titulo.astro'
import TituloSeccion from '../components/TituloSeccion.astro'
import Grid from '../components/Grid.astro'
import CardImage from '../components/CardImage.astro'
import { proyectos } from '../data.js'
---

<Layout title='Portfolio | Jorge Arce Balluerca'>
  <Container>
    <Titulo
      titulo=''
      span='Portfolio'
    />
    <main>
      <TituloSeccion>Mis Últimos Proyectos:</TituloSeccion>
      <Grid>
        {
          proyectos.map((proyecto) => (
            <CardImage
              href={proyecto.href}
              imagen={proyecto.imagen}
              alt={proyecto.alt}
              proyecto={proyecto.proyecto}
              fecha={proyecto.fecha}
            />
          ))
        }
      </Grid>
    </main>
  </Container>
</Layout>
