---
export interface Props {
    href: string;
    imagen: string;
    alt: string;
    proyecto: string;
    fecha: string;
}
const { href, imagen, alt, proyecto, fecha } = Astro.props;
---

<a href={href} class="card">
    <div class="card__img-box">
        <img class="card__img" src={imagen} alt={alt} loading="lazy" />
    </div>
    <div class="card__content">
        <h3 class="card__titulo">
            {proyecto}
            <span class="card__span">&rarr;</span>
        </h3>
        <p class="card__parrafo">
            {fecha}
        </p>
    </div>
</a>

<style>
    .card {
        overflow: hidden;
        border: var(--border);
        border-radius: var(--border-radius);
        color: var(--color-texto);
    }

    .card__img-box {
        overflow: hidden;
    }

    .card__img {
        width: 100%;
        transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .card__content {
        padding: 1em;
        border-top: var(--border);
        background-color: hsl(0, 0%, 100%);
    }

    .card__titulo {
        margin: 0;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .card__parrafo {
        margin-block: 0.5em 0;
    }

    .card__span {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .card:is(:hover, :focus-within) .card__img {
        transform: scale(1.5);
    }

    .card:is(:hover, :focus-within) .card__titulo {
        color: var(--color-primary);
    }

    .card:is(:hover, :focus-within) .card__span {
        transform: translateX(.2em);
    }
</style>